* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%; 
}

body {
    display: flex;
    flex-direction: column; 
    line-height: 1.6;
    min-height: 100vh; 
}

header h1 {
    text-align: center;
    padding: 20px;
    background-color: #03d806;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
  
}

header h1 b {
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.05s, color 0.05s;
}

nav a:hover {
    background-color: rgb(9, 139, 66); 
    color: rgb(189, 255, 67); 
    border-radius: 20px;
    transition: color 0.05s;

    
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
    flex: 1; 
}

main h2 {
    text-align: center;
    margin-bottom: 20px;
}

main p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: justify;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

footer p {
    font-size: 0.9rem;
}

.toggle-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #036e15;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    margin: 20px 0;
    text-align: center;
}

.toggle-button:hover {
    background-color: #028c1d;
}


main ol li {
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: white; 
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 35px;
}

main ol li .content {
    display: flex;
    align-items: center; 
    gap: 10px;
}

ol li p {
    margin: 0;
}




ol li {
    background-color: white; 
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 35px;
}

ol li button {
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

ol li button:nth-of-type(1) { 
    background-color: red;
    color: white;
}

ol li button:nth-of-type(2) {
    background-color: green;
    color: white;
}

ol li button:nth-of-type(3) { 
    background-color: blue;
    color: white;
}

ol li button:hover {
    opacity: 0.9;
}

ol li label, ol li textarea {
    font-size: 1rem;
    margin-right: 10px;
}

section{
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: white; 
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 35px;
}

textarea {
    padding: 5px;
    resize: none;
    font-size: 1rem;
}

body{
    font-family: "Times New Roman", Times, serif;
}


